apiVersion: v1
kind: Service
metadata:
  name: neuroclima-grafana
  namespace: uoulu
  labels:
    app: neuroclima
    component: grafana
spec:
  type: ClusterIP
  ports:
  - port: 3000
    targetPort: 3000
    protocol: TCP
    name: http
  selector:
    app: neuroclima
    component: grafana
