apiVersion: v1
kind: Service
metadata:
  name: neuroclima-prometheus
  namespace: uoulu
  labels:
    app: neuroclima
    component: prometheus
spec:
  type: ClusterIP
  ports:
  - port: 9090
    targetPort: 9090
    protocol: TCP
    name: web
  selector:
    app: neuroclima
    component: prometheus
