apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: processor-data-pvc
  namespace: uoulu
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: graphrag-data-pvc
  namespace: uoulu
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 20Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: lancedb-data-pvc
  namespace: uoulu
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
