apiVersion: v1
kind: Service
metadata:
  name: neuroclima-unstructured
  namespace: uoulu
  labels:
    app: neuroclima
    component: unstructured
spec:
  type: ClusterIP
  ports:
  - port: 8000
    targetPort: 8000
    protocol: TCP
    name: http
  selector:
    app: neuroclima
    component: unstructured
---
apiVersion: v1
kind: Service
metadata:
  name: neuroclima-processor
  namespace: uoulu
  labels:
    app: neuroclima
    component: processor
spec:
  type: ClusterIP
  ports:
  - port: 5000
    targetPort: 5000
    protocol: TCP
    name: http
  selector:
    app: neuroclima
    component: processor
