__pycache__/
api/__pycache__/
processors/__pycache__/
__pycache__/
.env
__pycache__/
cache/
lancedb_graphrag/
test.py
venv/

testing-graphrag/
graphrags/
workspaces/
testing_graphrag2/
test_graphrag/
models/
lancedb_graphrag.zip
graphrag/output/
doc-final.zip
