__pycache__/
api/__pycache__/
processors/__pycache__/
__pycache__/
.env
__pycache__/
processing_tracker.db
cache/
lancedb_graphrag/
test.py
processing_tracker.db-shm
processing_tracker.db-wal
venv/

testing-graphrag/
graphrags/
workspaces/
testing_graphrag2/
test_graphrag/
models/
processing_tracker.zip
lancedb_graphrag.zip
graphrag/output/
doc-final.zip
