aiohttp==3.11.16
fastapi==0.115.12
httpx==0.28.1
Jinja2==3.1.2
langchain==0.3.25
langchain-community==0.3.25
langfuse==3.0.9
numpy==1.26.4
pydantic==2.11.5
pydantic-settings==2.9.1
pymilvus==2.5.8
pymongo==4.12.1
python_json_logger==3.3.0
redis==5.0.1
SQLAlchemy==2.0.40
starlette==0.46.2
uvicorn==0.34.3
minio==7.2.15
pydantic[email]>=2.7.0
websocket-client==1.8.0