apiVersion: apps/v1
kind: Deployment
metadata:
  name: neuroclima-client
  namespace: uoulu
  labels:
    app: neuroclima
    component: client
spec:
  replicas: 1
  selector:
    matchLabels:
      app: neuroclima
      component: client
  template:
    metadata:
      labels:
        app: neuroclima
        component: client
    spec:
      containers:
      - name: client
        image: docker.io/raviyah/neuroclima-client:v1
        ports:
        - containerPort: 80
          name: http
        env:
        - name: VITE_API_BASE_URL
          value: "/server"
        - name: VITE_API_DOCUMENT_URL
          value: "/processor"
        - name: VITE_TRANSLATE_API_URL
          value: "/processor"
        - name: VITE_STP_SERVICE_URL
          value: "/processor"
        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "256Mi"
            cpu: "200m"
