apiVersion: v1
kind: Service
metadata:
  name: neuroclima-client
  namespace: uoulu
  labels:
    app: neuroclima
    component: client
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP
    name: http
  selector:
    app: neuroclima
    component: client
