apiVersion: v1
kind: Service
metadata:
  name: neuroclima-client-public
  namespace: uoulu
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP
    name: http
  selector:
    app: neuroclima
    component: client
