# Grafana datasource provisioning for LOCAL development
# This configuration points to Prometheus running on localhost

apiVersion: 1

datasources:
  - name: Prometheus-Local
    type: prometheus
    access: proxy
    url: http://localhost:9090
    isDefault: false
    editable: true
    jsonData:
      timeInterval: "15s"
      httpMethod: POST
