apiVersion: v1
kind: Service
metadata:
  name: neuroclima-server-nodeport
  namespace: uoulu
  labels:
    app: neuroclima
    component: server
spec:
  type: NodePort
  ports:
  - port: 8000
    targetPort: 8000
    nodePort: 30800  # Access API at http://<node-ip>:30800
    protocol: TCP
    name: http
  selector:
    app: neuroclima
    component: server
