# Grafana datasource configuration for Prometheus
# Place this file in Grafana's provisioning/datasources directory for automatic setup

apiVersion: 1

datasources:
  - name: NeuroClima Prometheus
    type: prometheus
    access: proxy
    url: http://localhost:9090
    isDefault: true
    editable: true
    jsonData:
      httpMethod: POST
      timeInterval: 15s
    version: 1
