.chat-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  height: calc(100vh - 200px);
  width: 100%;
  padding: 20px 0;
  flex: 1;
}

.chat-input-wrapper {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 20px;
  padding: 12px 16px;
  background: linear-gradient(145deg, #ffffffc7, #ffffff88);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15), 0 4px 15px rgba(0, 0, 0, 0.05);
  max-width: 1000px;
  width: 90%;
  transition: all 0.3s ease-in-out;
}

.chat-input-wrapper:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2), 0 8px 20px rgba(0, 0, 0, 0.08);
}

.chat-input {
  width: 100%;
  padding: 12px 18px;
  border: none;
  outline: none;
  font-size: 16px;
  color: #000000;
  background: transparent;
  border-radius: 15px;
  transition: all 0.3s ease;
  resize: none;
  box-sizing: border-box;
}

.send-button {
  background-color: #000000;
  border-radius: 50%;
  padding: 12px;
  margin-left: 10px;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.send-button:hover {
  background-color: #376d43;
  transform: scale(1.1);
}

.send-icon {
  transition: transform 0.2s ease;
}

.send-button:hover .send-icon {
  transform: rotate(45deg);
}

.mic-icon {
  transition: transform 0.2s ease;
}

.send-button:hover .mic-icon {
  transform: scale(1.2);
}

.error-message {
  color: #dc3545;
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}